<div class="footer">
  <footer>
    <div class="menu row">

      <div class="column">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact Us</li>
        </ul>
      </div>

      <div class="column">
        <ul>
          <li>Events</li>
          <li>Customer stories</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
    <div class="social">
      <a href="http://www.facebook.com">
        <img src="http://www.coquetydesigns.com/assets/img/facebook-icon.png" width="60" height="60" class="round--icon">
      </a>

      <a href="http://www.instagram.com">
        <img src="http://www.coquetydesigns.com/assets/img/instagram-logo.jpg" width="60" height="60" class="round--icon">
      </a>


      <a href="http://www.pinterest.com">
        <img src="http://www.coquetydesigns.com/assets/img/pinterest-logo.png" width="60" height="60" class="round--icon">
      </a>

      <!--<a href="https://www.etsy.com/shop/coquetydesigns">-->
        <!--<img src="../../assets/img/etsy_logo.png" width="60" height="60" class="round&#45;&#45;icon">-->
      <!--</a>-->

    </div>
  </footer>

  <div class="clear"></div>

</div>
